# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.env/
.venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Media and static files
/media
/staticfiles

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
Thumbs.db
.DS_Store

# Other
*.sqlite3
